<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cas</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logcls</display-name>
    <servlet-name>logcls</servlet-name>
    <servlet-class>servlet.logcls</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logcls</servlet-name>
    <url-pattern>/logcls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user</display-name>
    <servlet-name>user</servlet-name>
    <servlet-class>servlet.user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mail</display-name>
    <servlet-name>mail</servlet-name>
    <servlet-class>servlet.mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ssmail</display-name>
    <servlet-name>ssmail</servlet-name>
    <servlet-class>servlet.ssmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ssmail</servlet-name>
    <url-pattern>/ssmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dpuser</display-name>
    <servlet-name>dpuser</servlet-name>
    <servlet-class>servlet.dpuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dpuser</servlet-name>
    <url-pattern>/dpuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>patuser</display-name>
    <servlet-name>patuser</servlet-name>
    <servlet-class>servlet.patuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patuser</servlet-name>
    <url-pattern>/patuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>order</display-name>
    <servlet-name>order</servlet-name>
    <servlet-class>servlet.order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addmed</display-name>
    <servlet-name>addmed</servlet-name>
    <servlet-class>servlet.addmed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmed</servlet-name>
    <url-pattern>/addmed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>apnmnt</display-name>
    <servlet-name>apnmnt</servlet-name>
    <servlet-class>servlet.apnmnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apnmnt</servlet-name>
    <url-pattern>/apnmnt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pat_up</display-name>
    <servlet-name>pat_up</servlet-name>
    <servlet-class>servlet.pat_up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pat_up</servlet-name>
    <url-pattern>/pat_up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doc_up</display-name>
    <servlet-name>doc_up</servlet-name>
    <servlet-class>servlet.doc_up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doc_up</servlet-name>
    <url-pattern>/doc_up</url-pattern>
  </servlet-mapping>
</web-app>